@import url('css/theme.css');

.section h2{
    background-color: #eeeeee;
    padding: 0 10px;
}

.wy-side-nav-search {
    background-color: #e85c10;
}

.wy-nav-side {
    background: url("images/rz_background.png") repeat scroll 0 0;
}

a em, a.external {
    color: #e85c10;
}

div[class^='highlight']{

}

.admonition {
    background: #e7f2fa;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

.admonition-method {
    background: #fff;
    padding: 0;
    width: 75%;
    float: left;
    margin-bottom: 0;
}

.admonition-method .first{
    display: none;
}

.admonition-method .last{
    font-size: 125%;
    height: 100%;
    min-height: 22px;
    font-weight: bold;
    max-width: 100%;
    border: solid 1px #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: "Incosolata","Consolata","Monaco",monospace;
    color: #e74c3c;
    overflow-x: auto;
    margin-bottom: 0;
}

.admonition-returns .last{
    margin-bottom: 0;
}

.admonition-parameters .first:before{
    content: "\f061";
}

.admonition-returns .first:before {
    content: "\f060";
}

.admonition-lineno {
    background: #fff;
    padding: 0;
    width: 25%;
    margin-bottom: 0;
}

.admonition-lineno .first{
    display: none;
}

.admonition-lineno .last{
    font-size: 125%;
    height: 100%;
    min-height: 22px;
    font-weight: bold;
    max-width: 100%;
    font-size: 75%;
    padding: 0 5px;
    font-family: "Incosolata","Consolata","Monaco",monospace;
    color: #e74c3c;
    overflow-x: auto;
    margin-bottom: 0;
}

.admonition-clearfix {
    clear: both;
    height: 1px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.admonition-clearfix p, .admonition-clearfix .first{
    display: none !important;
}

.admonition-space {
    border-top: 1px solid #999999;
    clear: both;
    height: 20px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.admonition-space p, .admonition-space .first{
    display: none !important;
}

input[type="text"], .wy-side-nav-search input[type=text] {
    border-radius: 0px;
    padding: 6px 12px;
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid #2472a4;
    font-size: 80%;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    box-shadow: none;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    transition: border 0.3s linear
}

.wy-table-responsive{
    margin-bottom: 0;
}

.rst-content dl:not(.docutils) {
    width: 100%;
}

.rst-content dl:not(.docutils) dt:first-child {
    width: 100%;
}

code, .rst-content tt{
    white-space: inherit;
}