.nav {
    background-color: #e85c10;
}

.panel .header table {
    padding: 0 13px;
    display: block;
    width: inherit;
    height: 60px;
}

.panel .result {
    top: 93px;
}

.panel .tree {
    top: 93px;
    overflow: auto;
}

.panel .header h1 {
    color: #fcfcfc;
    font-size: 90%;
    font-weight: bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0.80em;
    margin-left: 30px;
    line-height: 1;
    letter-spacing: 0.2px;
    font-style: normal;
}

.panel .header h1:before {
    font-family: "FontAwesome";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: inherit;
    content: "\f015";
    font-size: 110%;
}

.panel .header input {
    height: inherit;
    width: 274px;
}

.panel .tree {
    background: url("../img/rz_background.png") repeat scroll 0 0;
}

.panel .header div.nav {
    padding-top: 14px;
    margin: 0;
}

#search input[type=Search] {
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #2472a4;
    height: inherit;
}

input[type="text"]{
    border-radius: 0px;
    padding: 6px 12px 6px 12px;
    -webkit-appearance:none;
    display:inline-block;
    border:1px solid #2472a4;
    font-size:80%;
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    box-shadow: none;
    -webkit-transition:border 0.3s linear;
    -moz-transition:border 0.3s linear;
    transition:border 0.3s linear
}

.panel .tree ul {
    background: none;
    background: #e3e3e3;
    font-weight: normal;
}

.panel_tree .tree .level_0 {
    background-color: #fcfcfc;
    padding-left: 0px !important;
}

.panel_tree .tree .level_0 li {
    background: #e3e3e3;
    padding-left: 0px !important;
}

.panel_tree .tree .level_0 .icon {
    display: none;
    /*margin-left: 5px;*/
}

.panel_tree .tree .level_0 .content {
    position: relative;
    background: #fcfcfc;
    display: block;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
}

.panel_tree .tree .level_1, .panel_tree .tree .level_2 {
    border-right: 1px solid #c9c9c9;
}

.panel .tree li .content {
    height: inherit;
    padding: 0.4045em 1.618em;
    color: gray;
}

.panel .tree ul li h1 {
    color: gray;
    font-weight: normal;
    font-size: 90%;
    margin-bottom: 0;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.panel .tree ul li.current h1 {
    color: #404040;
    font-weight: bold;
}

.panel_tree .tree .level_0 h1 {
    color: #404040;
    font-weight: bold;
}

.panel_tree .tree .tree_spacer {
    margin-top: 15px;
}

.panel_tree .tree .outer_location a{
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #b3b3b3;
}

.panel_tree .tree .outer_location a:hover{
    background-color: #595959;
}

.curren .content h1 {
    color: #ffffff;
}