{% extends "layout/base.twig" %}

{% block html %}
    <frameset cols="300px,*" frameborder="0" border="0" framespacing="0">
        <frame src="{% block frame_src %}{% endblock %}" name="index">
        <frame src="{{ has_namespaces ? 'namespaces' : 'classes' }}.html" name="main" id="main-frame">
        <noframes>
            <body>
                Your browser does not support frames. Go to the <a href="namespaces.html">non-frame version</a>.
            </body>
        </noframes>
    </frameset>
{% endblock %}
